{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-12 col-md-offset-2 col-xs-12">     
            <h1 class="posttitle">{{ post.title }}</h1>
            <div class="article-post">
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
                <div class="mainheading">
                    <div class="card-columns listfeaturedtag">
                        <h2 class="card-title">  
                            <a class="link-dark" href="{% url 'author_detail' pk=post.author.pk %}">{{ post.author }}</a> 
                        </h2>
                    </div>
                    {% if request.user == post.author %}
                    <a class="link-dark" href="{% url 'post_edit' pk=post.pk %}"><span class="post-read-more">Редактировать</span></a>
                    {% endif %}
                    <div class="post-date">{{ post.published_date|date }}</div>
                    
            </div>
        </div>
    </div>

    <div class="graybg">
	    <div class="container">
		    <div class="row listrecent listrelated">
                {% for popular_post in popular_posts %}	
			        <div class="col-md-4">
				        <div class="card">
					        <div class="card-block2">
						    <h2 class="card-title"><a href="{% url 'post_detail' pk=popular_post.pk %}">{{ popular_post.title }}</a></h2>
							        <div class="wrapfooter">
								        <span class="author-meta">
								        <span class="post-name"><a href="author.html">{{ popular_post.author }}</a></span><br/>
								        <span class="post-date">{{ popular_post.published_date|date }}</span>						        
							        </div>
					        </div>
				        </div>
			        </div>
			    {% endfor %}
		    </div>
	    </div>
    </div>

    {% if user.is_authenticated %}       
        <h2 class="card-title">Оставьте комментарий:</h2>
        <div class="container">  
            <div class="row listrecent listrelated">
                <div class="col-md-4">
                    <div class="col-md-8 col-md-offset-2 col-xs-12"> 
                        <form class="post-form textarea" method="POST">{% csrf_token %}
                            {{ comment_form }}
                            <button type="submit" class="save btn2 btn-default button">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="graybg">      
                <h2>Чтобы оставить комментарий - авторизуйтесь</h2>
        </div>
    {% endif %}

    {% for comments in comments %}
        <div class="container">
            <div class="card-columns listfeaturedtag">
                <div class="card">
                    <div class="row">                    
                        <div class="card-block">        
                            <h4 class="card-text">{{ comments.text }}</h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="post-name "><a href="{% url 'author_detail' pk=post.author.pk %}">{{ comments.author.get_full_name }}</a></span><br/>
                                    <span class="post-date">{{ comments.created_date|timesince }}</span>
                                    {% if request.user == comments.author %}
                                    {% if comments.edit_time_expired %}
                                    <a class="link-dark" href="{% url 'comm_delete' pk=comments.pk %}"><span class="post-read-more">Удалить</span></a>
                                    <span class="post-read-more"><span class="dot"></span></span>
                                    <a class="link-dark" href="{% url 'comm_edit' pk=comments.pk %}"><span class="post-read-more">Редактировать</span></a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    {% endfor %}
{% endblock %}




  <!--  <div class="post">
        {% if post.published_date %}
        <div class="date">
            <p>{{ post.published_date|date }}</p>
            <p><a href="{% url 'author_detail' pk=post.author.pk %}">Автор: {{ post.author }}</a></p>
        </div>
        {% endif %}
        {% if request.user == post.author %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>


    <div class="post">
        <h2>Другие популярные публикации:</h2>
        {% for popular_post in popular_posts %}
            <h4><a href="{% url 'post_detail' pk=popular_post.pk %}">{{ popular_post.title }}</a></h4>
        {% endfor %}
    </div>


<h2>Оставить комментарий</h2>
{% if user.is_authenticated %}
<div>
    <form method="POST" class="post-form">{% csrf_token %}
    {{ comment_form }}
    <button type="submit" class="save btn btn-default">Отправить</button>
    </form>
</div>
{% else %}
<div><h3>Чтобы оставить комментарий вам необходимо авторизоваться</h3></div>
{% endif %}
<div>
    <h2>Комментарии:</h2>
    {% for comments in comments %}
        <div>{{ comments.author.get_full_name }} оставил комментарий:</div>
        <div>{{ comments.text }}</div>
        <div>{{ comments.created_date|timesince }}</div>
        <br>
        {% if request.user == comments.author %}
        {% if comments.edit_time_expired %}
        <a class="btn btn-default" href="{% url 'comm_edit' pk=comments.pk %}">Редактировать</a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'comm_delete' pk=comments.pk %}">Удалить</a>
        {% endif %}
        <br>
        <hr>
        {% endfor %}
</div>-->

