{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {% if post.published_date %}
    <div class="date">
    <p>{{ post.published_date|date }}</p>
    <p><a href="{% url 'author_detail' pk=post.author.pk %}">Автор: {{ post.author }}</a></p>
    </div>
    {% endif %}
    {% if request.user == post.author %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>

<!-- Блоки для комметариев -->

<h2>Оставить комментарий</h2>
{% if user.is_authenticated %}
<div>
    <form method="POST" class="post-form">{% csrf_token %}
    {{ comment_form }}
    <button type="submit" class="save btn btn-default">Отправить</button>
    </form>
</div>
{% else %}
<div><h3>Чтобы оставить комментарий вам необходимо авторизоваться</h3></div>
{% endif %}
<div>
    <h2>Комментарии:</h2>
    {% for comments in comments %}
        <div>{{ comments.author.get_full_name }} оставил комментарий:</div>
        <div>{{ comments.text }}</div>
        <div>{{ comments.created_date|timesince }}</div>
        <br>
        {% if request.user == comments.author %}
        {% if comments.edit_time_expired %}
        <a class="btn btn-default" href="{% url 'comm_edit' pk=comments.pk %}">Редактировать</a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'comm_delete' pk=comments.pk %}">Удалить</a>
        {% endif %}
        <br>
        <hr>
        {% endfor %}
</div>
{% endblock %}

