<html>
    <head>
        <title>Slutmahine's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Slutmahine's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2077, 12:14</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Ыаааыаыыыыыыыфыфыпфыпфыпфывапролджэ</p>
        </div>

        <div>
            <p>published: 14.06.2077, 12:14</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Хыхыхыхыхыхыхыхыыхыхыхыхыхыхых</p>
        </div>
    </body>
</html>